<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.autocommit">true</property>-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--local db-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sporty</property>-->

        <!--remote db-->
        <property name="hibernate.connection.url">jdbc:mysql://5.35.247.12:3306/sportytest</property>

        <property name="hibernate.connection.username">sporty</property>
        <property name="hibernate.connection.password">sporty123</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="at.sporty.team1.domain.Member"/>
        <mapping class="at.sporty.team1.domain.Department"/>
        <mapping class="at.sporty.team1.domain.Team"/>
        <mapping class="at.sporty.team1.domain.Tournament"/>
        <!--<mapping class="at.sporty.team1.domain.Gender"/>-->
        <!--<mapping class="at.sporty.team1.domain.League"/>-->
        <!--<mapping class="at.sporty.team1.domain.Match"/>-->
        <!--<mapping class="at.sporty.team1.domain.MatchResult"/>-->
    </session-factory>
</hibernate-configuration>