<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-4level] | %d{HH:mm:ss.SSS} | [THREAD: %t | CLASS: %c] -> %msg%n"/>
        </Console>
        <RollingFile name="FileAppender" append="true" fileName="logs/server/lastRun.log"
                     filePattern="logs/server/old/%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%-4level] | %d{HH:mm:ss.SSS} | [THREAD: %t | CLASS: %c] -> %msg%n"/>
            <TimeBasedTriggeringPolicy />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="FileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>